:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  --title-text-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --hover-color: rgb(50 49 45 / 0.4);
  --border-color: #353430;
  --menu-text-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
    --title-text-color: #353430;
    --text-color: #353430;
    --section-title-color: #353430;
    --hover-color: rgb(50 49 45 / 0.4);
    --border-color: #353430;
    --menu-text-color: #353430;
  }

  .theme-light .header__rec {
    display: none;
  }

  .theme-auto .header__rec {
    display: none;
  }
}
