.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.4em;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.header__title {
  grid-row: 2;
  align-self: center;
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  height: min-content;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  background-color: var(--accent-color);
}

.header__text {
  justify-self: center;
  align-self: center;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  outline: none;
  color: var(--menu-text-color);
  font-size: 18px;
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 10px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.card__text {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.3em;
}

.card__title-no-bold {
  font-weight: 400;
}

.card__title-no-bold:not(:first-child) {
  margin-top: 20px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.section__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--footer-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__text {
    justify-self: end;
    align-self: center;
    max-width: 364px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 0 80px;
    padding: 0 20px;
  }

  .section__title {
    grid-column: 1;
    min-width: 236px;
  }

  .card-wrapper {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card__concentration {
    display: grid;
    grid-column-start: 1;
  }

  .gallery {
    gap: 20px;
    margin-bottom: 60px;
  }

  .image-sunset {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .image-ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .image-tape {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .image-books {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .card__title {
    grid-column: 1/4;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
  }

  .card__concentration {
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
  }
  .footer {
    min-height: 768px;
  }
}
